@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: #f5f5f5;
}

/* İmage card */

/* NAV------------------ */
.navbar-btn {
    outline: none;
    border: none;
    background-color: red;
}

.bi-list {
    color: white;
    padding-bottom: 2px;
    margin: 0;
    border: none;
}


.nav-container {
    background-color: red;

}

.nav-content {
    padding-left: 50px;

}

.nav-content>li>a {
    white-space: nowrap;
    font-weight: 600;
    font-size: 1rem;

    color: white;
    padding-right: 15px;
    text-decoration: none;


}



/* NAV END------------------ */





.img-card{
    border:none; 
    border-radius: none;
    object-fit: cover;
background-color: #f5f5f5;
}
.card-body{
    padding: 0.7rem 0;
}
.card-body>h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-align: left;
   line-height: 25px;
    
}
.carousel-item{
    object-fit: cover;
}
.carousel-size{
    width: 100%;
    }

 


.card .img-wrap{

    height: 240px;
}
.img-wrap {
display: block;

}
.img-wrap .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* SLİDE CONTENT ----------*/

.list-style-container{
  padding: 0 1rem;
   background-color: white;
}
.list-style{
   padding: 25px 0;
   border-bottom-style:dashed ;
   font-size: 0.9rem;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
    
}
.list-style:hover{
    color: rgb(95, 95, 95);
}


/* SPOR HABER */
.spor-card-body{
    background-color: white;
}
.spor-container{
    height: 850px;
}
.spor-content{
   height: 100%;
    padding: 1rem 2rem;
    background-color: white;
    overflow: hidden;
}
.spor-img{
    object-fit: cover;
    width: 100%;
}

.section-heading *{
    white-space: nowrap;
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: black;
    padding-right: 15px;
    text-decoration: none;
}
.section-heading{
    display: flex;
    margin-bottom: 24px;
    margin-top: 1rem;
}
.section-heading:hover{
    color: rgb(95, 95, 95);
}
.section-heading::before{
    margin-top: 8px;
position: relative;
top: 10px;
content: "";
display: inline-block;
width: 8px;
height: 8px;
flex-shrink: 0;
background-color: red;
vertical-align: super;
margin-right: 15px;
}
.section-heading::after{
    margin-top: 8px;
content: "";
height: 30px;
width: 100%;
background-image: url(image/spor-icon.svg);
background-repeat: repeat-x;
background-position: 55px center;
}

#spor-card-id{
    line-height: 35px;
margin: 1rem 0;
color: black;
font-weight: 600;
text-decoration: none;
font-size: 1.5rem;
}
.spor-card-item{
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

  
    border-bottom: 1px solid rgb(174, 174, 174);
    border-style: dashed;
}

.spor-cart-item-img{
    height: 100px;
    margin: 5px;
}
.img-thumbnail{
   border:none;
   object-fit: cover;
   height: 100%;
  
}
.spor-card-item>a{
    padding-left: 10px;
    width: 150px;
    color:black;
    text-decoration: none;
    font-weight: 600;
text-decoration: none;
font-size: 1rem;
}
/* GÖZDEN KACMASIN */
.content-g {
    margin-top: 30px;
}

.col-gozden {
    background-color: white;
}

.spor-card-content-g {
    background-color: white;
    padding-bottom: 43px;

}

/* GÜNÜN İÇİNDEN */


.g-slide-right {
    background-image: url(image/gundem-right.jpg
);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 250px;
    overflow: hidden;
}

.- .g-right {
    padding: 0 !important;
}


/* FOOTER------ */
/* .text-small {
    font-size: 0.9rem;
  } */

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.list-li>a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    /* margin-top: 5px; */
}

.list-li {
    margin-bottom: 20px;
}

.list-ul {
    margin-top: 30px;
}

footer {
    background-color: black;
}